.brown-div{
background-color: darkred
    
}
.brown-div{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 10px solid orangered;
    
}
ul{
    display: flex;
    list-style: none;
}

li{
    padding-right: 20px;
    color: white;
    font-size: 20px;

}
.button1{
    background-color: red;
    color: white;
    border: 0;
    padding: 13px;
    font-size: 15px;
    border-radius: 20px;
}
.form{
    background-color: rgb(31, 27, 27); 
    padding: 20px;
    text-align: center;
}
input[type=text]{
    width: 500px;
    height: 25px;
    border-radius: 25px;
    

}
input[type=password]{
    width: 500px;
    height: 25px;
    border-radius: 20px;
    
}
h4{
    color: white;
}
h6{
    color: red;
}
.button2{
    background-color: red;
    color: white;
    padding: 13px;
    font-size: 15px;
    border-radius: 20px;
}
.mainfooter-div{
    background-color: black;
    justify-content: center;
    padding: 30px; 
}
.footer{
    background-color: black;
    display: flex;
    justify-content: left;
    padding: 30px;
}
.ul{
    display: flex;
    list-style: none;
}
.li{
    padding-right: 20px;
    color: white;
    font-size: 20px;
    
}
.img-footer{
    justify-content: center;
    padding: 30px; 
    display: inherit;
    
}
/* .p{
    background-color: white;
} 
.left{
    float: right;
    background-color: black;
    padding: 2px;
}
